<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../img/MajorLogo.png" type="image/x-icon">
    <title>Ціни на послуги</title>
    <link rel="stylesheet" href="/css/prices.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link href="https://fonts.googleapis.com/css2?family=Clear+Sans:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <%- include('header') %>
    </header>

    <div class="container">
        <h1>ЦІНИ НА ПОСЛУГИ</h1>
        <table>
            <thead>
                <tr>
                    <th>Категорія</th>
                    <th>Ціна</th>
                    <th>Валюта</th>
                </tr>
            </thead>
            <tbody>
                <% if (prices.length > 0) { %>
                    <% prices.forEach(price => { %>
                        <tr>
                            <td><%= price.category %></td>
                            <td><%= price.price %></td>
                            <td><%= price.currency %></td> <!-- Додаємо колонку для валюти -->
                        </tr>
                    <% }); %>
                <% } else { %>
                    <tr>
                        <td colspan="3" style="text-align: center;">Ціни відсутні</td> <!-- Збільшено colspan до 3 -->
                    </tr>
                <% } %>
            </tbody>
        </table>
        <div id="innerDiv">
            <a id="downloadButton" href="/prices/export/pdf" class="export-btn">ЗАВАНТАЖИТИ PDF</a>
        </div>
    </div>
    <div>
        <%- include('contact') %>
    </div>
    <footer>
        <%- include('footer') %>
    </footer>
</body>
</html>
